@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;500;600;700;800;900&family=Noto+Serif+Bengali:wght@100;200;300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  background-color: #f6f9fc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
